<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <th:block th:replace="~{/layout::css}"></th:block>
    <link rel="stylesheet" href="/css/list-style.css">
</head>
<body>
<div th:replace="~{/layout :: header}"></div>
<div class="table-title w-100 m-0">
    <div class="row">
        <div class="col-sm-6">
            <h2>Manage <b>Service</b></h2>
        </div>
        <div class="col-sm-3">
            <form action="/service/list" method="get">
                <input type="text" name="keyword" th:value="${keyword}" placeholder="Search">
                <button type="submit" class="btn btn-success"> Search</button>
            </form>
        </div>
        <div class="col-sm-3">
            <a href="/service/create" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                <span>Add New Service</span></a>
        </div>
    </div>
</div>
<div class="table-responsive p-0 m-0 w-100">
    <table id="tableFacility" class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Area</th>
            <th>Cost</th>
            <th>Max People</th>
            <th>Rent Type</th>
            <th>Service Type</th>
            <th>Standard Room</th>
            <th>Description Other Convenience</th>
            <th>Pool Area</th>
            <th>Num Of Floor</th>
            <th>Service Free</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="facility, status : ${facilityList}">
            <td th:text="${status.count}"></td>
            <td th:text="${facility.name}"></td>
            <td th:text="${facility.area}"></td>
            <td th:text="${facility.cost}"></td>
            <td th:text="${facility.maxPeople}"></td>
            <td th:text="${facility.rentType.name}"></td>
            <td th:text="${facility.facilityType.name}"></td>
            <td th:text="${facility.standardRoom}"></td>
            <td th:text="${facility.descriptionOtherConvenience}"></td>
            <td th:text="${facility.poolArea}"></td>
            <td th:text="${facility.numOfFloors}"></td>
            <td th:text="${facility.facilityFree}"></td>
            <td>
                <a th:href="@{/service/update(id=${facility.id})}" class="btn btn-primary text-light"
                   data-toggle="modal"><i
                        class="material-icons"
                        data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <button type="button"
                        th:attr="onclick=|displayCustomerInModal('${facility.id}','${facility.name}')|"
                        class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#deleteServiceModal">
                    <i class="material-icons"
                       data-toggle="tooltip"
                       title="Delete">&#xE872;</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/service/list(page=${facilityList.number-1}, keyword=${keyword})}"
                   aria-label="Previous"
                   th:if="${facilityList.hasPrevious()}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <span th:text="${facilityList.number+1}"></span>/
                <span th:text="${facilityList.totalPages}"></span>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/service/list(page=${facilityList.number+1}, keyword=${keyword})}"
                   aria-label="Next"
                   th:if="${facilityList.hasNext()}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<p th:text="${message}"></p>
<div class="modal fade" id="deleteServiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <form action="/service/delete" method="get">
                <div class="modal-body">
                    <input type="text" hidden id="deleteId" name="deleteId">
                    Do you want to delete a service: <span id="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/layout :: footer}"></div>
<script>
    function displayCustomerInModal(id, name) {
        $("#deleteId").val(id);
        $("#deleteName").text(name);
    }
</script>
</body>
</html>
