<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hiroto Template">
    <meta name="keywords" content="Hiroto, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hiroto | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/style.css" type="text/css">
</head>

<body>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option hero spad set-bg img-fluid" data-setbg="../../resources/img/bg-jennie.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>Our staffs team</h1>
                    <div class="breadcrumb__links">
                        <a href="../index.html">Home</a>
                        <span>Staffs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Rooms Section Begin -->
<section class="rooms spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                <div class="room__pic__slider owl-carousel">
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/ceo-1.png"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/ceo-2.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/ceo-3.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/ceo-4.jpg"></div>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                <div class="room__text">
                    <h2>Founder & CEO</h2>
                    <h3>Nguyễn Minh Huy</h3>
                    <ul>
                        <li><span>Age:</span>23</li>
                        <li><span>Phone number:</span>0935507495</li>
                        <li><span>Email:</span>huyngqa@gmail.com</li>
                        <li><span>Education:</span>University</li>
                        <li><span>Address:</span>Thanh Khê, Đà Nẵng</li>
                    </ul>
                    <a href="#">View Details</a>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-3 order-md-3 col-md-6">
                <div class="room__pic__slider owl-carousel">
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/director-1.png"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/director-2.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/director-3.jpg"></div>
<!--                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/director-4.jpg"></div>-->
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-4 order-md-4 col-md-6">
                <div class="room__text right__text">
                    <h2>Director</h2>
                    <h3>Nguyễn Bá Trọng Nhân</h3>
                    <ul>
                        <li><span>Age:</span>28</li>
                        <li><span>Phone number:</span>0905281742</li>
                        <li><span>Email:</span>nhan2k5@gmail.com</li>
                        <li><span>Education:</span>University</li>
                        <li><span>Address:</span>Lý Thái Tổ, Đà Nẵng</li>
                    </ul>
                    <a href="#">View Details</a>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-6 order-md-6 col-md-6">
                <div class="room__pic__slider owl-carousel">
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/manager-1.png"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/manager-2.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/manager-3.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/manager-4.jpg"></div>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-5 order-md-5 col-md-6">
                <div class="room__text">
                    <h2>Manager</h2>
                    <h3>Nguyễn Phi Hùng</h3>
                    <ul>
                        <li><span>Age:</span>20</li>
                        <li><span>Phone number:</span>0935327682</li>
                        <li><span>Email:</span>hung_bao_doi@gmail.com</li>
                        <li><span>Education:</span>University</li>
                        <li><span>Address:</span>Sơn Trà, Đà Nẵng</li>
                    </ul>
                    <a href="#">View Details</a>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-7 order-md-7 col-md-6">
                <div class="room__pic__slider owl-carousel">
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/security-1.png"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/security-2.png"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/security-3.jpg"></div>
                    <div class="room__pic__item set-bg" data-setbg="../../resources/img/staff/security-4.jpg"></div>
                </div>
            </div>
            <div class="col-lg-6 p-0 order-lg-8 order-md-8 col-md-6">
                <div class="room__text right__text">
                    <h2>Security</h2>
                    <h3>Phạm Đình Trung</h3>
                    <ul>
                        <li><span>Age:</span>26</li>
                        <li><span>Phone number:</span>0706293821</li>
                        <li><span>Email:</span>trung_africa@gmail.com</li>
                        <li><span>Education:</span>University</li>
                        <li><span>Address:</span>Liên Chiểu, Đà Nẵng</li>
                    </ul>
                    <a href="#">View Details</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination__number">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rooms Section End -->

<!-- Js Plugins -->
<script src="../../resources/js/jquery-3.3.1.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/jquery.nice-select.min.js"></script>
<script src="../../resources/js/jquery-ui.min.js"></script>
<script src="../../resources/js/jquery.slicknav.js"></script>
<script src="../../resources/js/owl.carousel.min.js"></script>
<script src="../../resources/js/main.js"></script>
</body>
</html>
