<h1>Simple Calculator</h1>
  <fieldset>
    <legend>Calculator</legend>
    <table>
      <tr>
        <td>First operand: </td>
        <td><input [(ngModel)]="number1" type="number"/></td>
      </tr>
      <tr>
        <td>Operator: </td>
        <td>
          <select [(ngModel)]="operator" name="operator">
            <option value="+">Addition</option>
            <option value="-">Subtraction</option>
            <option value="*">Multiplication</option>
            <option value="/">Division</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Second operand: </td>
        <td><input [(ngModel)]="number2" type="number"/></td>
      </tr>
      <tr>
        <td></td>
        <td><button (click)="calculate()">Calculate</button></td>
      </tr>
    </table>
  </fieldset>
<p>{{result}}</p>
