<div class="container mt-5 mb-5 w-50">
  <div class="mb-3">
    <h5 class="text-center">Chỉnh sửa thông tin xe khách {{id}}</h5>
  </div>
  <form *ngIf="formCar" [formGroup]="formCar" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      <input type="text" formControlName="id" disabled class="form-control" id="id" placeholder="name">
      <label for="id">Số xe</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="type" class="form-control" id="typeCar" placeholder="name">
      <label for="typeCar">Loại xe</label>
      <p class="text-danger" *ngIf="formCar.controls.type.hasError('required') && formCar.controls.type.touched">
        Vui lòng nhập loại xe
      </p>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="nameHomeCar" class="form-control" id="nameHomeCar" placeholder="name">
      <label for="nameHomeCar">Tên nhà xe</label>
      <p class="text-danger" *ngIf="formCar.controls.nameHomeCar.hasError('required') && formCar.controls.nameHomeCar.touched">
        Vui lòng nhập tên nhà xe
      </p>
    </div>
    <br>
    <label for="goStart">Điếm đi</label>
    <select formControlName="goStart" id="goStart" class="form-control mb-3">
      <option ngValue="Đà nẵng">Đà Nẵng</option>
      <option ngValue="Quãng Trị">Quảng trị</option>
      <option ngValue="Huế">Huế</option>
      <option ngValue="Quãng Bình">Quảng Bình</option>
      <option ngValue="Quãng Nam">Quảng Nam</option>
    </select>
    <label for="goEnd">Điếm đến</label>
    <select formControlName="goEnd" id="goEnd" class="form-control mb-3">
      <option ngValue="Đà nẵng">Đà Nẵng</option>
      <option ngValue="Quảng Trị">Quảng trị</option>
      <option ngValue="Huế">Huế</option>
      <option ngValue="Quảng Bình">Quảng Bình</option>
      <option ngValue="Quãng Nam">Quảng Nam</option>
    </select>

    <div class="form-floating mb-3">
      <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="name">
      <label for="phone">Số điện thoại</label>
      <p class="text-danger" *ngIf="formCar.controls.phone.hasError('required') && formCar.controls.phone.touched">
        Vui lòng nhập số điện thoại nhà xe
      </p>
      <p class="text-danger" *ngIf="formCar.controls.phone.hasError('pattern') && formCar.controls.phone.touched">
        Vui lòng nhập email đúng định dạng
      </p>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="name">
      <label for="email">Email</label>
      <p class="text-danger" *ngIf="formCar.controls.email.hasError('required') && formCar.controls.email.touched">
        Vui lòng nhập email nhà xe
      </p>
      <p class="text-danger" *ngIf="formCar.controls.email.hasError('pattern') && formCar.controls.email.touched">
        Vui lòng nhập email đúng định dạng
      </p>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="dateStart" type="time" class="form-control" id="dateStart" placeholder="name">
      <label for="dateStart">Giờ đi</label>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="dateEnd" type="time" class="form-control" id="dateEnd" placeholder="name">
      <label for="dateEnd">Giờ đến</label>
    </div>
    <div>
      <button class="btn text-white w-100"
              style="background: #E9AD28">Sửa
      </button>
    </div>
    <div>
      <a routerLink="" class="btn btn-danger text-white w-100"
              >Quay về
      </a>
    </div>
  </form>
</div>
